body {
	color: white;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 3px rgb(32, 32, 32);
	border-radius: 10px;
}
::-webkit-scrollbar:hover {
	width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(32, 32, 32);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(44, 44, 44);
	width: 10px;
}
.loader {
	position: relative;
	width: 100px;
	height: 16px;
}
.loader:before,
.loader:after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 32px 0 #fff;
	left: 0;
	top: 0;
	animation: ballMoveX 1s linear infinite;
}
.loader:after {
	box-shadow: none;
	transform-origin: 40px 0;
	transform: rotate(-153deg);
	animation: rotateLoader 1s linear infinite;
}

@keyframes rotateLoader {
	0%,
	10% {
		transform: rotate(-153deg);
	}
	90%,
	100% {
		transform: rotate(0deg);
	}
}
@keyframes ballMoveX {
	0%,
	10% {
		transform: translateX(0);
	}
	90%,
	100% {
		transform: translateX(32px);
	}
}
